/* Transaction Row */
.transaction-group {
  margin-top: 1.2rem;
}

.transaction-row {
  padding: 1.2rem;
  background-color: var(--white-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    padding: 1.2rem 2.4rem 1.2rem 1.2rem;
  }
}

.transaction-row:hover {
  background-color: rgba(0, 211, 115, 0.05);
}

.transaction-row__icon {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--white-color);
  margin-right: 8px;
  border: 1px solid var(--border-color);
  overflow: hidden;

  @media screen and (min-width: 768px) {
    margin-right: 16px;
  }
}

.transaction-row__title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-color);
}

.transaction-row__subtitle {
  font-size: 1.4rem;
  color: var(--text-secondary-color);
}

.transaction-row__subtitle span {
  display: inline-block;
  line-height: 12px;
  margin-right: 0.6rem;
}

.transaction-row__subtitle span+span {
  border-left: 1px solid var(--text-secondary-color);
  padding-left: 0.6rem;
}

.transaction-row__amount {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  margin-left: 1.6rem;
}

.transaction-row__amount span {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.6rem;
}