/* Pagination */
.btn-arrow {
  transition: all 0.3s ease;
  padding: 8px 16px;
  font-size: 14px;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 100%;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.btn-arrow:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white-color);
}

.btn-arrow img {
  transition: all 0.3s ease;
}

.btn-arrow:hover img {
  filter: invert(1);
}

/* Filter */
.search-input input {
  font-size: 1.6rem;
}

.search-input__icon {
  position: absolute;
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-input__input {
  width: 100%;
  padding: 1.4rem 1.4rem 1.4rem 4.8rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  outline: none;
}

.btn-filter {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.btn-filter:hover {
  background-color: var(--active-color);
  border-color: var(--active-color);
  color: var(--white-color);
}

.btn-filter.active {
  background-color: var(--active-color);
  border-color: var(--active-color);
  color: var(--white-color);
}

.btn-filter.active img {
  filter: invert(1);
}

.btn-filter__checkicon {
  width: 24px;
  height: 24px;
}

.btn-filter__icon {
  width: 16px;
  height: 16px;
}

.btn-filter img {
  transition: all 0.3s ease;
}

.btn-filter:hover img {
  filter: invert(1);
}

/* Responsive */
@media (max-width: 991px) {
  .search-input {
    min-width: 100%;
  }
}